<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous">
</head>
<body class="container">
	<h1>Ajouter un avis</h1>
	<form th:action="@{'/movies/'+${movie.id}+'/avis/'}" method="post">
		<div class="row">
			<div class="col-sm">
				<label for="avisInput"> Avis:  </label> <input type="text"
					 id="avisInput" placeholder="Avis" th:field="${avis.description}" />
				<div class="alert alert-danger" th:if="${#fields.hasErrors('avis.description')}">
					<p th:errors="${avis.description}"></p>
				</div>
			</div>
			<div class="col-sm">
				<label for="rating"> Note : </label> <input type="number"
					th:field="${avis.rate}" placeholder="Rating"  id="rating" />
				<div class="alert alert-danger"
					th:if="${#fields.hasErrors('avis.rate')}">
					<p th:errors="${avis.rate}"></p>
				</div>
				</div>


		<button type="submit">Send</button>
	</form>
</body>
</html>