<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${movie.name}"></title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body class="container">
<h1 class="pt-5" th:text="${movie.name}"></h1>
<p th:text="${'Duration : '+movie.duration}"></p>
<p th:text="${'Year : '+movie.releaseyear}"></p>
<!-- <p th:text="${'Genre : '+movie.genre.name}"></p> -->
<!-- <p th:text="${'Director : '+movie.director.lastname+ ' '+ movie.director.firstname}"></p> -->
<!-- <h2>Actors</h2>
<ul>
	<li th:each="actor : ${movie.actors} " th:text="${actor.lastname+ ' '+ actor.firstname}"></li>
</ul> -->
</body>
</html>